<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	<title>liver_Prediction</title>
  <link rel="shortcut icon" href="{{url_for('static',filename='img/home2.jpg')}}"/>
    
</head>
	<style>
    #main-footer
    {
      color: #FFFFFF;
      font-family: "Segoe UI";
      background: #2B2B2B;
      text-align: center;
      margin-top: 50px;
      padding: 16px;
      bottom: 8px;
    }</style>
<body style="background-color: grey;">
  <img src="static\liver.png" alt="img" width="800" height="500" align="right" </img>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <img src="static/img/logo.png" width="80" height="70">
        <a class="navbar-brand mr-4" href="/"> &nbsp&nbsp&nbsp KNOW YOUR HEALTH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/about">About</a>
            <a class="nav-item nav-link" href="/cancer">Cancer</a>
            <a class="nav-item nav-link" href="/diabetes">Diabetes</a>
            <a class="nav-item nav-link" href="/heart">Heart</a>
            <a class="nav-item nav-link" href="/liver">Liver</a>
            <a class="nav-item nav-link" href="/kidney">Kidney</a>
             <a class="nav-item nav-link" href="/Malaria">Malaria</a>
             <a class="nav-item nav-link" href="/Pneumonia">Pneumonia</a>
             <a class="nav-item nav-link" href="/disindex">Overview</a>
          </div>
          <!-- Navbar Right Side
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/register">Register</a>
          </div>-->
        </div>
      </div>
    </nav>
  </header>
<div class="container",class="form-group">
        <h1 style="color:yellow">Welcome To Liver Disease Prediction..!</h1>
        <h3 style="color:burlywood">Know Your Chance Of Getting Liver Disease...</h3>
    <h3 style="color:ghostwhite">Enter the Following parameters :</h3>
  <form action="/predictliver" method="POST">
    <label for="Age" style="color:cyan">Age : </label>
    <input type="text" id="Age" name="Age">
    <br>

    <label for="Gender" style="color:cyan">Gender : </label>
    <input type="text" id="Gender" name="Gender">
    <br>

    <label for="Total_Bilirubin" style="color:cyan">Total_Bilirubin : </label>
    <input type="text" id="Total_Bilirubin" name="Total_Bilirubin">
    <br>

    <label for="Direct_Bilirubin" style="color:cyan">Direct_Bilirubin : </label>
    <input type="text" id="Direct_Bilirubin" name="Direct_Bilirubin">
    <br>

    <label for="Alkaline_Phosphotase" style="color:cyan">Alkaline_Phosphotase : </label>
    <input type="text" id="Alkaline_Phosphotase" name="Alkaline_Phosphotase">
    <br>

    <label for="Alamine_Aminotransferase" style="color:cyan">Alamine_Aminotransferase : </label>
    <input type="text" id="Alamine_Aminotransferase" name="Alamine_Aminotransferase">
    <br>

    <label for="Aspartate_Aminotransferase" style="color:cyan">Aspartate_Aminotransferase : </label>
    <input type="text" id="Aspartate_Aminotransferase" name="Aspartate_Aminotransferase">
    <br>

    <label for="Total_Protiens" style="color:cyan">Total_Protiens : </label>
    <input type="text" id="Total_Protiens" name="Total_Protiens">
    <br>

    <label for="Albumin"style="color:cyan">Albumin : </label>
    <input type="text" id="Albumin" name="Albumin">
    <br>

    <label for="Albumin_and_Globulin_Ratio" style="color:cyan">Albumin_and_Globulin_Ratio : </label>
    <input type="text" id="Albumin_and_Globulin_Ratio" name="Albumin_and_Globulin_Ratio">
    <br>
    <br>

    <input type="submit" value="Submit"><br><br>
</form>


    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<footer id="main-footer">
    <h3 style="color:white">KNOW YOUR HEALTH</h3>
    <p>An application for predicting different organ diseases using machine & deep learning algorithms..!</p>
     Designed <span>by  Nitheesh & Sai Pramod</span><br>
     Contact-Us :7780207048 & 6309878087<br><br>
     Project Guide : Premalatha.G(Associate profesior-PEC)<br><br>
     Copyright &copy; 2022
     <br>
    
    </footer>
</body>
</html>
